In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import pandas as pd
import os

# CSV 파일 경로 설정
temp_dir = '/content/drive/MyDrive/AKI_공유/3.0/full_join'
file_path = os.path.join(temp_dir, 'MIMIC-AKI.csv')

# CSV 파일 로드
df = pd.read_csv(file_path)

# 결측치 확인 (각 열의 결측치 개수)
missing_values = df.isnull().sum()

# 결측치 비율 확인
missing_ratio = df.isnull().mean() * 100

# 결측치 정보 출력
# print("결측치 개수:\n", missing_values)
# print("\n결측치 비율 (%):\n", missing_ratio)

<ipython-input-46-3a226f9f3a12>:9: DtypeWarning: Columns (11,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [47]:
df.columns

Index(['subject_id', 'hadm_id', 'itemid', 'charttime', 'serumCreatinine',
       'valueuom', 'stay_id', 'itemid_urine', 'value_urine', 'admittime',
       'dischtime', 'deathtime', 'admission_type', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag', 'admit_provider_id',
       'icd_code', 'gender', 'age', 'dod', 'drug', 'starttime', 'stoptime',
       'eGFR_2021', 'SPARK_score', 'admittime_dt', 'dischtime_dt',
       'edregtime_dt', 'edouttime_dt', 'hospital_stay_duration',
       'ed_stay_duration', 'SPARK_class'],
      dtype='object')

In [48]:
# 결측치 비율이 높은 컬럼 리스트 (숫자 제외)
columns_to_drop = ['stoptime', 'hadm_id', 'starttime', 'itemid_urine', 'dischtime', 'admission_location',
                   'admittime_dt', 'edregtime_dt', 'edouttime_dt', 'admittime', 'stay_id', 'value_urine',
                   'language', 'itemid', 'dischtime_dt','race',
                   'edregtime','edouttime','admit_provider_id']

# 해당 컬럼들을 df에서 삭제
df = df.drop(columns=columns_to_drop)
print(df['dod'], df[pd.notnull(df['deathtime'])])

0         2180-09-09
1         2180-09-09
2         2180-09-09
3         2180-09-09
4         2180-09-09
             ...
496382    2131-01-08
496383    2131-01-08
496384    2131-01-08
496385    2131-01-08
496386    2131-01-08
Name: dod, Length: 496387, dtype: object         subject_id            charttime  serumCreatinine valueuom  \
534       10001884  2131-01-16 04:02:00              0.7    mg/dL
536       10001884  2131-01-10 04:35:00              0.9    mg/dL
541       10001884  2131-01-13 08:23:00              1.3    mg/dL
544       10001884  2131-01-18 02:51:00              0.5    mg/dL
552       10001884  2131-01-08 05:11:00              0.9    mg/dL
...            ...                  ...              ...      ...
489862    10554191  2180-10-08 06:10:00              1.5    mg/dL
489885    10554191  2180-10-05 07:40:00              1.4    mg/dL
489896    10554191  2180-10-10 06:46:00              1.4    mg/dL
495227    10558762  2185-11-30 19:44:00              1.2    mg/dL
495228    10558762  2185-12-01 02:24:00              1.4    mg/dL

                  deathtime     admission_type discharge_location insurance  \
534     2131-01-20 05:15:00  OBSERVATION ADMIT               DIED  Medicare
536     2131-01-20 05:15:00  OBSERVATION ADMIT               DIED  Medicare
541     2131-01-20 05:15:00  OBSERVATION ADMIT               DIED  Medicare
544     2131-01-20 05:15:00  OBSERVATION ADMIT               DIED  Medicare
552     2131-01-20 05:15:00  OBSERVATION ADMIT               DIED  Medicare
...                     ...                ...                ...       ...
489862  2180-10-11 22:00:00           EW EMER.               DIED  Medicaid
489885  2180-10-11 22:00:00           EW EMER.               DIED  Medicaid
489896  2180-10-11 22:00:00           EW EMER.               DIED  Medicaid
495227  2185-12-01 15:00:00           EW EMER.               DIED       NaN
495228  2185-12-01 15:00:00           EW EMER.               DIED       NaN

       marital_status  hospital_expire_flag icd_code gender  age         dod  \
534           MARRIED                   1.0      NaN      F   68  2131-01-20
536           MARRIED                   1.0      NaN      F   68  2131-01-20
541           MARRIED                   1.0      NaN      F   68  2131-01-20
544           MARRIED                   1.0      NaN      F   68  2131-01-20
552           MARRIED                   1.0      NaN      F   68  2131-01-20
...               ...                   ...      ...    ...  ...         ...
489862         SINGLE                   1.0      NaN      M   59  2180-10-11
489885         SINGLE                   1.0      NaN      M   59  2180-10-11
489896         SINGLE                   1.0      NaN      M   59  2180-10-11
495227         SINGLE                   1.0    25040      M   76  2185-12-01
495228         SINGLE                   1.0    25040      M   76  2185-12-01

                      drug  eGFR_2021   SPARK_score  hospital_stay_duration  \
534                    NaN  89.128737  1.483009e+06            1.483000e+06
536                    NaN  65.924128  1.483009e+06            1.483000e+06
541                    NaN  42.403664  1.483009e+06            1.483015e+06
544                    NaN  96.657289  1.483009e+06            1.483000e+06
552                    NaN  65.924128  1.483009e+06            1.483000e+06
...                    ...        ...           ...                     ...
489862   Calcium Carbonate  50.824780  8.436807e+05            8.436747e+05
489885   Calcium Carbonate  55.211732  8.436807e+05            8.436747e+05
489896   Calcium Carbonate  55.211732  8.436807e+05            8.436747e+05
495227  Sodium Bicarbonate  58.952842  1.105210e+05            1.105080e+05
495228  Sodium Bicarbonate  48.996899  1.105210e+05            1.105080e+05

        ed_stay_duration SPARK_class
534          8616.666667           D
536          8616.666667           D
541          8616.666667           D
544          8616.666667           D
552          8616.666667           D
...                  ...         ...
489862       6400.000000           D
489885       6400.000000           D
489896       6400.000000           D
495227       3366.666667           D
495228       3366.666667           D

[9775 rows x 20 columns]

In [49]:
print(df['dod'])
print(df['deathtime'][pd.notnull(df['deathtime'])])

0         2180-09-09
1         2180-09-09
2         2180-09-09
3         2180-09-09
4         2180-09-09
             ...
496382    2131-01-08
496383    2131-01-08
496384    2131-01-08
496385    2131-01-08
496386    2131-01-08
Name: dod, Length: 496387, dtype: object
534       2131-01-20 05:15:00
536       2131-01-20 05:15:00
541       2131-01-20 05:15:00
544       2131-01-20 05:15:00
552       2131-01-20 05:15:00
                 ...
489862    2180-10-11 22:00:00
489885    2180-10-11 22:00:00
489896    2180-10-11 22:00:00
495227    2185-12-01 15:00:00
495228    2185-12-01 15:00:00
Name: deathtime, Length: 9775, dtype: object

In [50]:
df['deathtime'] = df['deathtime'].apply(lambda x: 1 if pd.notnull(x) else 0)
df['dod'] = df['dod'].apply(lambda x: 1 if pd.notnull(x) else 0)
# 삭제된 후 데이터프레임 확인
print(df.head())

   subject_id            charttime  serumCreatinine valueuom  deathtime  \
0    10000032  2180-06-27 05:10:00              0.3    mg/dL          0
1    10000032  2180-05-07 05:05:00              0.3    mg/dL          0
2    10000032  2180-06-03 12:00:00              0.4    mg/dL          0
3    10000032  2180-07-23 06:39:00              0.7    mg/dL          0
4    10000032  2180-05-06 22:25:00              0.3    mg/dL          0

  admission_type discharge_location insurance marital_status  \
0            NaN                NaN       NaN            NaN
1            NaN                NaN       NaN            NaN
2            NaN                NaN       NaN            NaN
3            NaN                NaN       NaN            NaN
4            NaN                NaN       NaN            NaN

   hospital_expire_flag icd_code gender  age  dod               drug  \
0                   NaN      NaN      F   52    1  Calcium Carbonate
1                   NaN      NaN      F   52    1     Spironolactone
2                   NaN      NaN      F   52    1                NaN
3                   NaN      NaN      F   52    1                NaN
4                   NaN      NaN      F   52    1                NaN

    eGFR_2021  SPARK_score  hospital_stay_duration  ed_stay_duration  \
0  122.324144          6.0                     0.0               0.0
1  122.324144         13.0                     0.0               0.0
2  114.130560          6.0                     0.0               0.0
3   99.730909          6.0                     0.0               0.0
4  122.324144          6.0                     0.0               0.0

  SPARK_class
0           A
1           A
2           A
3           A
4           A

In [51]:
# 결측치 비율 확인
missing_ratio = df.isnull().mean() * 100
print("\n결측치 비율 (%):\n", missing_ratio)
df['dod'].value_counts()

결측치 비율 (%):
 subject_id                 0.000000
charttime                  0.000000
serumCreatinine            0.030218
valueuom                   0.000000
deathtime                  0.000000
admission_type            78.231904
discharge_location        78.683970
insurance                 78.685783
marital_status            80.255728
hospital_expire_flag      78.231904
icd_code                  41.722285
gender                     0.000000
age                        0.000000
dod                        0.000000
drug                      38.309222
eGFR_2021                  0.000000
SPARK_score                0.000000
hospital_stay_duration     0.000000
ed_stay_duration           0.000000
SPARK_class                0.000000
dtype: float64

dod
0    311384
1    185003
Name: count, dtype: int64

In [52]:
# 중복 제거된 컬럼 리스트
columns_to_select = ['subject_id', 'deathtime', 'dod', 'charttime', 'eGFR_2021', 'SPARK_score','SPARK_class',
                     'hospital_stay_duration', 'ed_stay_duration', 'age', 'gender', 'serumCreatinine']

# 새로운 데이터프레임 생성
new_df = df[columns_to_select]

# 새로운 데이터프레임 확인
print(new_df.head())

   subject_id  deathtime  dod            charttime   eGFR_2021  SPARK_score  \
0    10000032          0    1  2180-06-27 05:10:00  122.324144          6.0
1    10000032          0    1  2180-05-07 05:05:00  122.324144         13.0
2    10000032          0    1  2180-06-03 12:00:00  114.130560          6.0
3    10000032          0    1  2180-07-23 06:39:00   99.730909          6.0
4    10000032          0    1  2180-05-06 22:25:00  122.324144          6.0

  SPARK_class  hospital_stay_duration  ed_stay_duration  age gender  \
0           A                     0.0               0.0   52      F
1           A                     0.0               0.0   52      F
2           A                     0.0               0.0   52      F
3           A                     0.0               0.0   52      F
4           A                     0.0               0.0   52      F

   serumCreatinine
0              0.3
1              0.3
2              0.4
3              0.7
4              0.3

In [53]:
# Step 1: deathtime과 dod를 숫자형(int)으로 변환
new_df['deathtime'] = pd.to_numeric(new_df['deathtime'], errors='coerce').fillna(0).astype(int)
new_df['dod'] = pd.to_numeric(new_df['dod'], errors='coerce').fillna(0).astype(int)

# Step 2: deathtime과 dod 열의 or 연산을 통해 하나라도 1이면 1로 처리
new_df['deathtime'] = new_df['deathtime'] | new_df['dod']

# Step 3: dod 열 제거
new_df = new_df.drop(columns=['dod'])

# 결과 확인
print(new_df.head())

   subject_id  deathtime            charttime   eGFR_2021  SPARK_score  \
0    10000032          1  2180-06-27 05:10:00  122.324144          6.0
1    10000032          1  2180-05-07 05:05:00  122.324144         13.0
2    10000032          1  2180-06-03 12:00:00  114.130560          6.0
3    10000032          1  2180-07-23 06:39:00   99.730909          6.0
4    10000032          1  2180-05-06 22:25:00  122.324144          6.0

  SPARK_class  hospital_stay_duration  ed_stay_duration  age gender  \
0           A                     0.0               0.0   52      F
1           A                     0.0               0.0   52      F
2           A                     0.0               0.0   52      F
3           A                     0.0               0.0   52      F
4           A                     0.0               0.0   52      F

   serumCreatinine
0              0.3
1              0.3
2              0.4
3              0.7
4              0.3

<ipython-input-53-1aab0d0efc2f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['deathtime'] = pd.to_numeric(new_df['deathtime'], errors='coerce').fillna(0).astype(int)
<ipython-input-53-1aab0d0efc2f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['dod'] = pd.to_numeric(new_df['dod'], errors='coerce').fillna(0).astype(int)
<ipython-input-53-1aab0d0efc2f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['deathtime'] = new_df['deathtime'] | new_df['dod']

In [54]:
# Step 1: SPARK_class를 기반으로 AKI 단계를 설정
def determine_aki_stage(row):
    if row['deathtime'] == 1:
        return 3  # Critical AKI
    elif row['SPARK_class'] in ['A', 'B']:  # SPARK_class 1, 2
        return 1  # No AKI
    elif row['SPARK_class'] in ['C', 'D']:  # SPARK_class 3, 4
        return 2  # Low-stage AKI
    else:
        return 0  # 예외 처리

# AKI_stage 설정
new_df['AKI_stage'] = new_df.apply(determine_aki_stage, axis=1)

# Step 2: SPARK_class와 deathtime은 삭제하지 않고, 독립변수로 사용하지 않을 예정이므로 저장만 유지
# 독립변수로 사용하지 않을 피처를 제거할 수 있도록 리스트에 따로 저장
unused_features = ['SPARK_class', 'deathtime']

# 결과 확인
print(new_df[['SPARK_class', 'deathtime', 'AKI_stage']].tail())

       SPARK_class  deathtime  AKI_stage
496382           A          1          3
496383           A          1          3
496384           A          1          3
496385           A          1          3
496386           A          1          3

In [55]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496387 entries, 0 to 496386
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   subject_id              496387 non-null  int64
 1   deathtime               496387 non-null  int64
 2   charttime               496387 non-null  object
 3   eGFR_2021               496387 non-null  float64
 4   SPARK_score             496387 non-null  float64
 5   SPARK_class             496387 non-null  object
 6   hospital_stay_duration  496387 non-null  float64
 7   ed_stay_duration        496387 non-null  float64
 8   age                     496387 non-null  int64
 9   gender                  496387 non-null  object
 10  serumCreatinine         496237 non-null  float64
 11  AKI_stage               496387 non-null  int64
dtypes: float64(5), int64(4), object(3)
memory usage: 45.4+ MB

In [56]:
# Step 1: charttime을 datetime 형식으로 변환
new_df['charttime'] = pd.to_datetime(new_df['charttime'])

# Step 2: 범주형 데이터로 변환 (SPARK_class, gender)
new_df['SPARK_class'] = new_df['SPARK_class'].astype('category')
new_df['gender'] = new_df['gender'].astype('category')

# Step 3: 데이터 타입 확인
print(new_df.dtypes)

# 결과 확인
print(new_df.head())

subject_id                         int64
deathtime                          int64
charttime                 datetime64[ns]
eGFR_2021                        float64
SPARK_score                      float64
SPARK_class                     category
hospital_stay_duration           float64
ed_stay_duration                 float64
age                                int64
gender                          category
serumCreatinine                  float64
AKI_stage                          int64
dtype: object
   subject_id  deathtime           charttime   eGFR_2021  SPARK_score  \
0    10000032          1 2180-06-27 05:10:00  122.324144          6.0
1    10000032          1 2180-05-07 05:05:00  122.324144         13.0
2    10000032          1 2180-06-03 12:00:00  114.130560          6.0
3    10000032          1 2180-07-23 06:39:00   99.730909          6.0
4    10000032          1 2180-05-06 22:25:00  122.324144          6.0

  SPARK_class  hospital_stay_duration  ed_stay_duration  age gender  \
0           A                     0.0               0.0   52      F
1           A                     0.0               0.0   52      F
2           A                     0.0               0.0   52      F
3           A                     0.0               0.0   52      F
4           A                     0.0               0.0   52      F

   serumCreatinine  AKI_stage
0              0.3          3
1              0.3          3
2              0.4          3
3              0.7          3
4              0.3          3

In [57]:
import pandas as pd

# 'charttime' 컬럼이 인덱스와 중복되지 않도록 인덱스를 리셋
new_df = new_df.reset_index()

# 'subject_id'와 'charttime' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'charttime'])

# 각 'subject_id'별로 시간 차이를 계산
new_df['time_diff'] = new_df.groupby('subject_id')['charttime'].diff()

# 각 'subject_id'별로 평균 시간 간격을 계산
mean_time_diff = new_df.groupby('subject_id')['time_diff'].mean()

# 전체 데이터셋의 평균 시간 간격 계산
overall_mean_time_diff = mean_time_diff.mean()

# 결과 출력
print("환자별 평균 시간 간격 (Timedelta):")
print(mean_time_diff.head())

print("\n전체 데이터셋의 평균 시간 간격 (Timedelta):", overall_mean_time_diff)

# 전체 데이터셋에서 가장 적절한 등간격을 찾기 위한 분석 (예: 1시간, 12시간, 24시간 등)
suggested_interval_hours = overall_mean_time_diff.total_seconds() / 3600  # 시간을 기준으로 계산
print("\n전체 데이터셋에서 제안되는 등간격 (시간):", suggested_interval_hours)

환자별 평균 시간 간격 (Timedelta):
subject_id
10000032   8 days 05:39:21.176470588
10000048                         NaT
10000058                         NaT
10000084             7 days 08:58:00
10000108                         NaT
Name: time_diff, dtype: timedelta64[ns]

전체 데이터셋의 평균 시간 간격 (Timedelta): 132 days 04:43:29.197630358

전체 데이터셋에서 제안되는 등간격 (시간): 3172.7247771194443

In [58]:
import pandas as pd

# 'charttime'을 datetime 형식으로 변환 (이미 변환된 경우 생략 가능)
new_df['charttime'] = pd.to_datetime(new_df['charttime'])

# 'subject_id'와 'charttime' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'charttime'])

# 각 'subject_id'별로 시간 차이를 계산
new_df['time_diff'] = new_df.groupby('subject_id')['charttime'].diff()

# 2일 이상의 차이가 나는 경우 새로운 그룹으로 취급
new_df['new_group'] = (new_df['time_diff'] > pd.Timedelta(days=2)).cumsum()

# 새로운 그룹을 각 환자의 'subject_id'와 'new_group'으로 그룹화
new_df['group_id'] = new_df.groupby('subject_id')['new_group'].cumsum()

# 각 'subject_id'와 'group_id' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'group_id', 'charttime'])

# 그룹별 시간 간격 확인
print(new_df[['subject_id', 'group_id', 'charttime', 'time_diff']].head())

    subject_id  group_id           charttime        time_diff
14    10000032         0 2180-03-23 11:51:00              NaT
4     10000032         1 2180-05-06 22:25:00 44 days 10:34:00
1     10000032         2 2180-05-07 05:05:00  0 days 06:40:00
12    10000032         3 2180-05-07 05:05:00  0 days 00:00:00
2     10000032         5 2180-06-03 12:00:00 27 days 06:55:00

In [59]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496387 entries, 14 to 496376
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   496387 non-null  int64
 1   subject_id              496387 non-null  int64
 2   deathtime               496387 non-null  int64
 3   charttime               496387 non-null  datetime64[ns]
 4   eGFR_2021               496387 non-null  float64
 5   SPARK_score             496387 non-null  float64
 6   SPARK_class             496387 non-null  category
 7   hospital_stay_duration  496387 non-null  float64
 8   ed_stay_duration        496387 non-null  float64
 9   age                     496387 non-null  int64
 10  gender                  496387 non-null  category
 11  serumCreatinine         496237 non-null  float64
 12  AKI_stage               496387 non-null  int64
 13  time_diff               479980 non-null  timedelta64[ns]
 14  new_group               496387 non-null  int64
 15  group_id                496387 non-null  int64
dtypes: category(2), datetime64[ns](1), float64(5), int64(7), timedelta64[ns](1)
memory usage: 57.8 MB

In [60]:
import pandas as pd

# 'charttime'을 datetime 형식으로 변환 (이미 변환된 경우 생략 가능)
new_df['charttime'] = pd.to_datetime(new_df['charttime'])

# 'subject_id'와 'charttime' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'charttime'])

# 각 'subject_id'별로 시간 차이를 계산
new_df['time_diff'] = new_df.groupby('subject_id')['charttime'].diff()

# 2일 이상의 차이가 나는 경우 새로운 그룹으로 취급
new_df['new_group'] = (new_df['time_diff'] > pd.Timedelta(days=2)).cumsum()

# 새로운 그룹을 각 환자의 'subject_id'와 'new_group'으로 그룹화
new_df['group_id'] = new_df.groupby('subject_id')['new_group'].cumsum()

# 각 'subject_id'와 'group_id' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'group_id', 'charttime'])

# 시간 차이 계산 (2일 미만의 시간 간격만 포함)
filtered_df = new_df[new_df['time_diff'] <= pd.Timedelta(days=2)]

# 각 'subject_id'별로 평균 시간 간격을 계산
mean_time_diff = filtered_df.groupby('subject_id')['time_diff'].mean()

# 전체 데이터셋의 평균 시간 간격 계산
overall_mean_time_diff = mean_time_diff.mean()

# 전체 데이터셋에서 가장 적절한 등간격을 찾기 위한 분석 (예: 1시간, 12시간, 24시간 등)
suggested_interval_hours = overall_mean_time_diff.total_seconds() / 3600  # 시간을 기준으로 계산
print("\n전체 데이터셋에서 제안되는 등간격 (시간):", suggested_interval_hours)

전체 데이터셋에서 제안되는 등간격 (시간): 17.11069221777778

In [62]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496387 entries, 14 to 496376
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   496387 non-null  int64
 1   subject_id              496387 non-null  object
 2   deathtime               496387 non-null  int64
 3   charttime               496387 non-null  datetime64[ns]
 4   eGFR_2021               496387 non-null  float64
 5   SPARK_score             496387 non-null  float64
 6   SPARK_class             496387 non-null  category
 7   hospital_stay_duration  496387 non-null  float64
 8   ed_stay_duration        496387 non-null  float64
 9   age                     496387 non-null  int64
 10  gender                  496387 non-null  category
 11  serumCreatinine         496237 non-null  float64
 12  AKI_stage               496387 non-null  int64
 13  time_diff               479980 non-null  timedelta64[ns]
 14  new_group               496387 non-null  int64
 15  group_id                496387 non-null  int64
dtypes: category(2), datetime64[ns](1), float64(5), int64(6), object(1), timedelta64[ns](1)
memory usage: 57.8+ MB

In [ ]:
import pandas as pd
import numpy as np

# 'charttime'을 datetime 형식으로 변환
new_df['charttime'] = pd.to_datetime(new_df['charttime'])

# 'subject_id'와 'charttime' 기준으로 정렬
new_df = new_df.sort_values(by=['subject_id', 'charttime'])

# 각 'subject_id'별로 시간 차이를 계산
new_df['time_diff'] = new_df.groupby('subject_id')['charttime'].diff()

# 2일 이상의 차이가 나는 경우 새로운 그룹으로 취급
new_df['new_group'] = (new_df['time_diff'] > pd.Timedelta(days=2)).cumsum()

# 새로운 그룹을 각 환자의 'subject_id'와 'new_group'으로 그룹화, subject_id 업데이트
new_df['group_id'] = new_df.groupby('subject_id')['new_group'].cumsum()
new_df['subject_id'] = new_df['subject_id'].astype(str) + '-' + new_df['group_id'].astype(str)

# 패딩 및 버려진 데이터 개수를 저장할 리스트
padding_count_list = []
discarded_count_list = []

# 각 'subject_id'마다 10시간 간격으로 데이터를 생성하고, 50개의 데이터를 만들기 위한 준비
def create_evenly_spaced_data(group):
    # 10시간 간격으로 시간 생성
    time_range = pd.date_range(start=group['charttime'].min(), end=group['charttime'].max(), freq='10H')

    # 시간 축으로 새로운 데이터프레임 생성
    time_df = pd.DataFrame({'charttime': time_range})

    # 보간할 수 없는 Categorical 열들을 따로 분리하고, charttime을 포함
    categorical_cols = group.select_dtypes(include=['category', 'object']).columns
    categorical_data = group[categorical_cols].copy()
    categorical_data['charttime'] = group['charttime']  # charttime을 포함하여 병합에 사용

    # 보간할 수 있는 열들만 따로 분리
    numeric_data = group.drop(columns=categorical_cols)

    # 시간 축과 병합하여 숫자형 데이터에 대한 등간격 데이터 생성 및 보간
    merged_df = pd.merge_asof(time_df, numeric_data.sort_values('charttime'), on='charttime')
    merged_df = merged_df.interpolate(method='linear')

    # Categorical 열을 가장 가까운 값으로 채움 (앞 방향으로 채움)
    categorical_merged_df = pd.merge_asof(time_df, categorical_data.sort_values('charttime'), on='charttime', direction='nearest')
    merged_df[categorical_cols] = categorical_merged_df[categorical_cols].ffill().bfill()

    # 패딩 및 버려진 데이터 수 계산
    padding_count = 0
    discarded_count = 0

    # 50개의 데이터가 부족하면 패딩(뒤쪽에 같은 행을 복사하여 추가)
    if len(merged_df) < 50:
        padding_rows = 50 - len(merged_df)
        padding_df = pd.DataFrame([merged_df.iloc[-1]] * padding_rows)  # 마지막 행 복사
        merged_df = pd.concat([merged_df, padding_df], ignore_index=True)
        padding_count = padding_rows
    elif len(merged_df) > 50:
        discarded_count = len(merged_df) - 50

    # 50개의 데이터로 맞춤
    merged_df = merged_df.iloc[:50]

    # 패딩 및 버린 데이터 수를 기록
    padding_count_list.append(padding_count)
    discarded_count_list.append(discarded_count)

    return merged_df

# 각 subject_id에 대해 위의 함수 적용
new_df_interpolated = new_df.groupby('subject_id').apply(lambda group: create_evenly_spaced_data(group.reset_index(drop=True))).reset_index(drop=True)

# 패딩 및 버려진 데이터에 대한 로그 출력
average_padding = np.mean(padding_count_list)
total_discarded = np.sum(discarded_count_list)

print(f"평균적으로 추가된 패딩 행 개수: {average_padding}")
print(f"총 버려진 데이터 개수: {total_discarded}")

# 결과 확인
print(new_df_interpolated.head())

In [ ]:
import os

# 저장할 경로 설정
temp_dir = '/content/drive/MyDrive/AKI_공유/3.0/full_join'
file_path = os.path.join(temp_dir, 'timeseries.csv')

# 데이터셋을 CSV 파일로 저장
new_df_interpolated.to_csv(file_path, index=False)

# 저장 확인 메시지 출력
print(f"데이터셋이 '{file_path}'에 성공적으로 저장되었습니다.")